.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid #000;
  }
  .center-div {
    width: 100%;
    padding: 40px;
    background-color: lightblue;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid #000;
}